{% include 'header.html' %}
<body>
<nav class="navbar navbar-expand navbar-dark topNav-bg index-topNav">
    <div class="container-fluid index-navbar-container">
        <ul class="navbar-nav indexNavbar-ul">
            {% include 'user_menu.html' %}
        </ul>
        <form class="form-inline my-2 my-lg-0 input-group-sm">
            <input class="form-control mr-sm-2 index-topNav-searchBox" type="search" placeholder="站内搜索"
                   aria-label="Search">
            <button class="btn my-2 my-sm-0 btn-sm" type="submit">Search</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white index-SecNav">
    <div class="container-fluid index-navbar-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#"><img src={{url_for('static'
                                              ,filename="u/img/index-img/NADCLogoTransHorizontal.png" )}} width="300"
                                              alt=".."></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">OBSERVATION</a></li>
                <li class="nav-item"><a class="nav-link" href="#">DATA</a></li>
                <li class="nav-item"><a class="nav-link" href="#">TOOLS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">CLOUD</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                 role="button" data-toggle="dropdown" aria-haspopup="true"
                                                 aria-expanded="false"> PUBLIC </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Worldwide
                        Telescope</a> <a class="dropdown-item" href="#">PSP</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Special Topic</a></div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">ABOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="main-container meetings-container">
        <div class="row" style="margin: 0px;">
            <div class="index-headline-titleLine"><img src={{url_for('static'
                                                       ,filename="u/img/meetings-img/titleIcon.png" )}} alt="..."
                                                       class="index-headline-icon">
                <div class="index-headline-title">天文会议</div>
            </div>
            <div class="col-sm-2 meeting-sidebar">
                <ul class="nav flex-column list-group meeting-sidebar-group">
                    <li class="nav-item list-group-item meeting-sidebar-subtitle"><img src={{url_for('static'
                                                                                       ,filename="u/img/meetings-img/navbarSubtitleIcon.png"
                                                                                       )}} alt="..."
                                                                                       class="meetings-sidebarSubtitle-icon">
                        MEETINGS INFO
                    </li>
                    <li class="nav-item list-group-item meeting-sidebar-item"><a
                            class="nav-link meeting-sidebar-navlink" href={{ url_for("meetings") }}>New Meetings</a>
                    </li>
                    <li class="nav-item list-group-item meeting-sidebar-item"><a
                            class="nav-link meeting-sidebar-navlink" href={{
                            url_for(
                        "meetings",
                        start_year = 2021,
                        start_month = 1,
                        start_day = 1,
                        end_year = 2021,
                        end_month = 12,
                        end_day = 31
                        )}}>2021 Meetings</a></li>
                    <li class="nav-item list-group-item meeting-sidebar-item"><a
                            class="nav-link meeting-sidebar-navlink" href={{
                            url_for(
                        "meetings",
                        start_year = 2020,
                        start_month = 1,
                        start_day = 1,
                        end_year = 2020,
                        end_month = 12,
                        end_day = 31
                        )}}>2020 Meetings</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item list-group-item meeting-sidebar-subtitle"><img src={{url_for('static'
                                                                                       ,filename="u/img/meetings-img/navbarSubtitleIcon.png"
                                                                                       )}} alt="..."
                                                                                       class="meetings-sidebarSubtitle-icon">
                        SUBMIT MEETINGS
                    </li>
                    <li class="nav-item list-group-item meeting-sidebar-item"><a
                            class="nav-link meeting-sidebar-navlink" href={{ url_for("register_meeting") }}>Submit new
                        meetings</a></li>
                    <li class="nav-item list-group-item meeting-sidebar-item"><a
                            class="nav-link meeting-sidebar-navlink" href="#">Update Meeting Information</a></li>
                    <li class="nav-item list-group-item meeting-sidebar-subtitle"><img src={{url_for('static'
                                                                                       ,filename="u/img/meetings-img/linkIcon.png"
                                                                                       )}} alt="..."
                                                                                       class="meetings-sidebarSubtitle-icon">
                        RELATED LINKS
                    </li>
                    <li class="nav-item list-group-item meeting-sidebar-item"><a
                            class="nav-link meeting-sidebar-navlink" href="https://ui.adsabs.harvard.edu/">ADS</a></li>
                </ul>
            </div>
            <div class="col-sm-10" style="margin: 0px;padding: 0px;">
                <div style="margin: 0px; background-color: transparent; padding: 0px 10px;">
                    <div class="card meetings-card">
                        <div class="card-body meetings-mainPage-title">
                            <style>
    .form_label{
        width:120px;
        display:inline-block;
        }
       .form_input{
            width:300px;
            display:inline-block;
            }




                            </style>
                            {% block title %}
                            {% endblock %}
                        </div>
                    </div>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flash">
                        {% for message in messages %}
                        <div class="alert alert-success" style="text-align: center">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>{{ message }}</strong></div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</div>
</body>
{% include 'footer.html' %}

