<!DOCTYPE html>
<html>

<head>
    <title>中国天文学会议信息系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<style>
  .title {
    background-image: url(logo.png);
    background-size: 100% 100%;
  }

</style>

<body>


<div class="container ">
    <div class="row clearfix">
        <div class="col-md-12 column ">

            <h1 class="display-1">
                <img src="logo.png"/>
                中国天文学会议信息
            </h1>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column ">
            <a href="{{ url_for('index') }}">返回首页</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">登录</a>
            <a href="{{ url_for('register') }}">注册</a>
            {% else %}
            你好，<a>{{ current_user.username }}</a>
            <a href="{{ url_for('logout') }}">退出</a>
            {% endif %}
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column">


            <p>
                <a href={{ url_for('register_meeting') }}>注册新会议</a>
            </p>

        </div>
        <div class="col-md-9 column">

            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


</body>

</html>