	<footer class="nadcFooter">
  <div class="container-fluid foot-container">
    <div class="row">
      <div class="col-sm-3" style="border-right: 1px dashed #aaa;"><a href="aboutus.html">
        <p class="footerCenter" id="FOOaboutus">关于我们</p>
        </a><a href="http://astrocloud.china-vo.org/s/static/tour/tourMain.html">
        <p class="footerCenter" id="FOOhelp">用户帮助</p>
        </a><a href="http://astrocloud.china-vo.org/s/static/contact.html">
        <p class="footerCenter" id="FOOcontact">联系我们</p>
        </a>

        <a href="http://nao.cas.cn/"><div class="footerCard">
        <p class="footerTitle">依托单位</p>
        <p class="footerCenter" id="FOOprivacy">国家天文台</p></div></a>
        </div>
      <div class="col-sm-3" style="border-right: 1px dashed #aaa;">
        <div class="footerCard"><p class="footerTitle" style="text-align: center;">友情链接</p>
        <a href="http://www.most.gov.cn/" target="_blank">
        <p class="footerCenter">中华人民共和国科学技术部</p>
        </a><a href="https://test.escience.org.cn/" target="_blank">
        <p class="footerCenter">中国科技资源共享网</p>
        </a><a href="http://www.cas.cn/" target="_blank">
        <p class="footerCenter">中国科学院</p>
        </a><a href="https://www.icsu-wds.org/" target="_blank">
        <p class="footerCenter">世界数据系统（WDS）</p>
			</a></div></div>
      <div class="col-sm-3" style="text-align: center;border-right: 1px dashed #aaa;"><img src={{ url_for('static',filename="u/img/index-img/China-VO_weChat.jpg")}} style="height:100px; border-radius: 10px; margin-bottom: 15px;" alt="..">
        <p class="footerCenter">欢迎关注</p>
        <p class="footerCenter">虚拟天文台微信公众号</p>
      </div>
      <div class="col-sm-3"><div class="footerCard">
        <p class="footerTitle">联系方式</p>
        <p class="footerP">地址：北京市朝阳区大屯路甲20号</p>
        <p class="footerP">邮编：100101</p>
        <p class="footerP">电话：010-64807973</p>
		  <p class="footerP">邮箱：support@china-vo.org</p></div>
      </div>
    </div>
    <div>
      <div class="row" style="margin-top: 30px; color: #222; text-align: center; font-weight:normal; font-size: 12px; line-height: 26px;">
        <div class="col-sm-12">京公网安备1101050056号 |京ICP备05002854号-4</div>
        <div class="col-sm-12">Copyright © National Astronomical Observatories, Chinese Academy of Sciences</div>
      </div>
    </div>
  </div>
</footer>
	nadcFooter
</body>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.escience.org.cn/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '23']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<!-- InstanceEnd --></html>


