
<!doctype html>
<html><!-- InstanceBegin template="/Templates/headfooter.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>国家天文科学数据中心 | National Astronomical Data Center | NADC</title>
<!-- InstanceEndEditable -->
<!-- Bootstrap -->
<link href={{ url_for('static',filename="u/css/bootstrap.min.css")}} rel="stylesheet">

<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src={{ url_for('static',filename="u/js/jquery.min.js")}}></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src={{ url_for('static',filename="u/js/bootstrap.min.js")}}></script>
<!-- <script type="text/javascript" src={{ url_for('static',filename= "u/js/currentuser.js")}}></script> -->
<!--<script>
	function setPageLang(language){
		//根据中英文和用户状态修改header和footer
		if("en" == language) {
			//top栏
			$("#navLogin").text("Login");
			$("#navRegister").text("Register");
			$("#navLang").text("简体中文");
			$("#navSC").text("ScienceCloud");

			//导航栏
			$("#navYun").text("CLOUD");
			$("#navTool").text("TOOLS");
			$("#navData").text("DATA");
			$("#navTele").text("OBSERVATION");
			$("#navPublic").children("a").text("PUBLIC");
			$("#navWWT").text("WorldWide Telescope");
			$("#navPSP").text("PSP");
			$("#navTopic").text("Special Topic");

			//footer
			$("#FOOhelp").text("Help");
			$("#FOOcontact").text("Contact Us");
			$("#FOOaboutus").text("About Us");
			$("#FOOcopyright").text("Copyright © National Astronomical Observatories, Chinese Academy of Sciences");
		}
	}
</script>-->
<link href={{url_for('static',filename="u/css/style.css")}} rel="stylesheet">
<link rel="stylesheet" href={{ url_for('static',filename= "u/css/nadc.css")}} type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<nav class="navbar navbar-expand navbar-dark topNav-bg index-topNav">
  <div class="container-fluid index-navbar-container">
    <ul class="navbar-nav indexNavbar-ul">
      <a class="navbar-brand" href="https://www.escience.org.cn/"><img src={{ url_for('static',filename="u/img/index-img/new-header-logo.png")}} width="260" alt=".."></a>
      <!--<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLNG" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="languageImg" src="u/img/index-img/zhongwen.png" alt=".."></a>
        <div class="dropdown-menu indexDropdownMenu" aria-labelledby="navbarDropdownLNG" style="min-width: 20px;"> <a class="dropdown-item" href="#"><img class="languageImg" src="u/img/index-img/zhongwen.png" alt=".."></a> <a class="dropdown-item" href="#"><img class="languageImg" src="u/img/index-img/yingwen.png" alt=".."></a> </div>
      </li>-->
        <!--
      <li class="nav-item"> <a class="nav-link index-topNav-link" href="http://astrocloud.china-vo.org/dashboard">登录</a> </li>
      <li class="nav-item"> <a class="nav-link index-topNav-link" href="https://passport.escience.cn/regist.jsp">注册</a> </li>
      -->
        {% include 'user_menu.html' %}
    </ul>
    <form class="form-inline my-2 my-lg-0 input-group-sm">
      <input class="form-control mr-sm-2 index-topNav-searchBox" type="search" placeholder="站内搜索" aria-label="Search">
      <button class="btn my-2 my-sm-0 btn-sm" type="submit">Search</button>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white index-SecNav">
  <div class="container-fluid index-navbar-container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <a class="navbar-brand" href="http://nadc.china-vo.org"><img src={{ url_for('static', filename="u/img/index-img/NADCLogoTransHorizontal.png")}} width="300" alt=".."></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="http://telescope.china-vo.org/">
        <li class="nav-item SecNav-item" id="navTele"> 申请观测</li>
        </a> <a class="nav-link" href="http://explore.china-vo.org/">
        <li class="nav-item SecNav-item" id="navData">科学数据</li>
        </a> <a class="nav-link" href="https://nadc.china-vo.org/tools">
        <li class="nav-item SecNav-item" id="navTool"> 软件工具</li>
        </a> <a class="nav-link" href="http://cloud.china-vo.org/client/?ifjaflfipifjaflfipkpjfjffiik">
        <li class="nav-item SecNav-item" id="navYun"> 云资源 </li>
        </a>
        <li class="nav-item SecNav-item dropdown" id="navPublic"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">公众频道</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="https://nadc.china-vo.org/wwt">
            <div id="navWWT">万维望远镜</div>
            </a> <a class="dropdown-item" href="http://psp.china-vo.org/">
            <div id="navPSP">超新星搜寻</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://nadc.china-vo.org/public/">
            <div id="navTopic">科普专题</div>
            </a> </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
{%  block body %}
{% endblock %}
	<footer class="nadcFooter">
  <div class="container-fluid foot-container">
    <div class="row">
      <div class="col-sm-3 footerCard" style="border-right: 1px dashed #aaa;"><a href="aboutus.html">
        <p class="footerCenter" id="FOOaboutus">关于我们</p>
        </a><a href="http://astrocloud.china-vo.org/s/static/tour/tourMain.html">
        <p class="footerCenter" id="FOOhelp">用户帮助</p>
        </a><a href="http://astrocloud.china-vo.org/s/static/contact.html">
        <p class="footerCenter" id="FOOcontact">联系我们</p>
        </a>

        <a href="http://nao.cas.cn/"><div >
        <p class="footerTitle">依托单位</p>
        <p class="footerCenter" id="FOOprivacy">中国科学院国家天文台</p></div></a>
        </div>
      <div class="col-sm-3" style="border-right: 1px dashed #aaa;">
        <div class="footerCard"><p class="footerTitle" style="text-align: center;">友情链接</p>
        <a href="http://www.most.gov.cn/" target="_blank">
        <p class="footerCenter">中华人民共和国科学技术部</p>
        </a><a href="https://test.escience.org.cn/" target="_blank">
        <p class="footerCenter">中国科技资源共享网</p>
        </a><a href="http://www.cas.cn/" target="_blank">
        <p class="footerCenter">中国科学院</p>
        </a><a href="https://www.icsu-wds.org/" target="_blank">
        <p class="footerCenter">世界数据系统（WDS）</p>
			</a></div></div>
      <div class="col-sm-3" style="text-align: center;border-right: 1px dashed #aaa;"><img src={{ url_for('static',filename="u/img/index-img/China-VO_weChat.jpg")}} style="height:100px; border-radius: 10px; margin-bottom: 15px;" alt="..">
        <p class="footerCenter">欢迎关注</p>
        <p class="footerCenter">虚拟天文台微信公众号</p>
      </div>
      <div class="col-sm-3"><div class="footerCard">
        <p class="footerTitle">联系方式</p>
        <p class="footerP">地址：北京市朝阳区大屯路甲20号</p>
        <p class="footerP">邮编：100101</p>
        <p class="footerP">电话：010-64807973</p>
		  <p class="footerP">邮箱：support@china-vo.org</p></div>
      </div>
    </div>
    <div>
      <div class="row" style="margin-top: 30px; color: #222; text-align: center; font-weight:normal; font-size: 12px; line-height: 26px;">
        <div class="col-sm-12"><a href="http://www.beian.miit.gov.cn/">京ICP备05002854号-4</a> 文保网安备案号1101050056</div>
        <div class="col-sm-12">Copyright © National Astronomical Observatories, Chinese Academy of Sciences</div>
      </div>
    </div>
  </div>
</footer>
	nadcFooter
</body>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.escience.org.cn/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '23']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

<!-- InstanceEnd --></html>


