{% extends 'base.html' %}
{% block title %}
    欢迎访问天文会议信息系统
{% endblock %}
{% block content %}

    <div class="card meetings-card">
        <div class="card-body meeting-intro">
            <div>本天文会议信息系统由国家天文科学数据中心管理和维护，旨在方便国内外天文会议信息的分享。支持会议信息提交、修改和浏览，点击左侧菜单条目即可操作。会议信息提交后，经管理人员核实会在一个工作日内发布。</div>
            <div>The NADC Astronomy Meeting List is compiled and maintained by NADC (National Astronomical Data Center)
                at NAOC in Beijing. To add, modify, or view a meeting, please click the relevant sections on the left
                panel. If the meeting form passes the format check, submissions will be approved and published by the
                NADC staff within one working day.

            </div>
        </div>
    </div>
{% endblock %}