{% extends 'base.html' %}
{% block title %}
{{meeting.short_name}}
{% endblock %}
{% block content %}
<div class="card meetings-card">
    <div class="card-body meeting-intro">
<blockquote class="blockquote mb-0">
                <div class="row meetings-detail">
                  <div class="col-sm-2">日期</div>
                  <div class="col-sm-10">{{meeting.start_date}} - {{meeting.end_date}}</div>
                  <div class="col-sm-2">地点</div>
                  <div class="col-sm-10">{{meeting.location}}</div>
                  <div class="col-sm-2">联系人</div>
                  <div class="col-sm-10">{{meeting.contact}}</div>
                  <div class="col-sm-2">联系电话</div>
                  <div class="col-sm-10">{{meeting.phone}}</div>
                  <div class="col-sm-2">官网</div>
                  <div class="col-sm-10">{{meeting.url}}</div>
                  <div class="col-sm-2">邮件</div>
                  <div class="col-sm-10">{{meeting.email}}</div>
                  <div class="col-sm-2">会议论文</div>
                  <div class="col-sm-10">暂无</div>
                  <div class="col-sm-2">关键词</div>
                  <div class="col-sm-10">cosmology, large-scale structure, summer school</div>
                  <div class="col-sm-2">编号</div>
                  <div class="col-sm-10">{{meeting.id}}</div>
                </div>
              </blockquote>
              {% if current_user.role.__str__() == 'RoleType.ADMIN' %}
    <p> 状态：
        {% if meeting.status.__str__()=='MeetingStatusType.REGISTERED' %}
            已注册，待审核。
        {% elif meeting.status.__str__()=='MeetingStatusType.APPROVED' %}
            审核通过。
        {% elif meeting.status.__str__() == 'MeetingStatusType.UNAPPROVED' %}
            审核未通过。
        {% elif meeting.status.__str__() == 'MeetingStatusType.OUTDUE' %}
            已过期。
        {% else %}
            ...
        {% endif %}
    </p>
    {% if meeting.status.__str__() == 'MeetingStatusType.REGISTERED' %}
        <a href="{{ url_for('approve',id=meeting.id) }}"> 通过审核 </a>

        <a href="{{ url_for('unapprove',id=meeting.id) }}"> 不通过</a>
    {% endif %}
    {% endif %}
    </div>
    </div>






{% endblock %}
