{% extends 'base.html' %}
{% blcok title %}
{{meeting.short_name}}会议详情
{% endblock %}
{% block content %}
<div class="card meetings-card">
    <div class="card-body meeting-intro">
<blockquote class="blockquote mb-0">
                <div class="row meetings-detail">
                  <div class="col-sm-1">日期</div>
                  <div class="col-sm-11">{{meeting.start_date}} - {{meeting.end_date}}</div>
                  <div class="col-sm-1">地点</div>
                  <div class="col-sm-11">{{meeting.location}}</div>
                  <div class="col-sm-1">联系人</div>
                  <div class="col-sm-11">{{register.username}}</div>
                  <div class="col-sm-1">联系地址</div>
                  <div class="col-sm-11">{{register.address}}</div>
                  <div class="col-sm-1">联系电话</div>
                  <div class="col-sm-11">{{meeting.phone}}</div>
                  <div class="col-sm-1">官网</div>
                  <div class="col-sm-11">{{meeting.url}}</div>
                  <div class="col-sm-1">邮件</div>
                  <div class="col-sm-11">{{meeting.email}}</div>
                  <div class="col-sm-1">会议论文</div>
                  <div class="col-sm-11">暂无</div>
                  <div class="col-sm-1">关键词</div>
                  <div class="col-sm-11">cosmology, large-scale structure, summer school</div>
                  <div class="col-sm-1">编号</div>
                  <div class="col-sm-11">6317</div>
                </div>
              </bloc  {% if current_user.role.__str__() == 'RoleType.ADMIN' %}
    <p> 状态：
        {{meeting.status}}
    <p>
    {% if meeting.status.__str__() == 'MeetingStatusType.REGISTED' %}
        <a href="{{ url_for('approve',id=meeting.id) }}"> 通过审核 </a>

        <a href="{{ url_for('unapprove',id=meeting.id) }}"> 不通过</a>
    {% endif %}
    {% endif %}kquote>
    </div>
    </div>






{% endblock %}
