{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <meta name="description" content="Filtrify">
    <meta name="keywords" content="javascript, jquery, filtering, filter, plugin" />
    <meta name="author" content="Luís Almeida">

    <meta name="viewport" content="width=device-width">
       <link rel="stylesheet" href={{ url_for('static',filename="u/css/style.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="u/css/sunburst.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="u/css/filtrify.css")}}>

    <script src="https://apps.bdimg.com/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src={{ url_for('static',filename="u/js/highlight.pack.js") }}></script>
    <script src={{ url_for('static',filename="u/js/script.js") }}></script>
    <script src={{ url_for('static',filename="u/js/filtrify.min.js") }}></script>
    <script>
        var filter={
                "country":[],
                "year":[],
                "month":[],
            };
        $(function () {
            var ft = $.filtrify("container", "placeHolder");

            $("a.filter-tag").click(function () {
                //执行过滤
                var key = $(this).attr("key");
                var value = $(this).attr("value");
                filter[key] = [value];
                ft.trigger(filter);
                //修改颜色
                $(this).parent().siblings().children().css({"color":"black"});
                $(this).css({"color":"red"});
            });
            $("#reset").click(function () {
                filter["country"]=[];
                filter["year"] = [];
                filter["month"]=[];
                ft.reset();
                $("a.filter-tag").css({color:"black"})
            })


        });

    </script>
    <div  class="card meetings-card">筛选会议：
        <div id="placeHolder"></div>
        <table class="table-condensed table-hover">
            <tr>
                <td>热门国家</td>
                <td>
                    <a class=" filter-tag" href="#" key="country" value="中国">中国</a>
                </td>
                <td>
                    <a class=" filter-tag" href="#" key="country" value="美国">美国</a>
                </td>
                <td>
                    <a class=" filter-tag" href="#" key="country" value="英国">英国</a>
                </td>
            </tr>
            <tr>
                <td>年份</td>
                <td>
                    <a class=" filter-tag" href="#" key="year" value="2020">2020</a>
                </td>
                <td>
                    <a class=" filter-tag" href="#" key="year" value="2021">2021</a>
                </td>
            </tr>
        </table>
        <button id="reset" class="btn-danger" onclick="reset">重置条件</button>
    </div>
    <div id="container">
        {% for meeting in meetings %}
            <div class="card meetings-card"
                 data-Year="{{ meeting.start_date.year }}"
                 data-Month="{{ meeting.start_date.month }}"
                 data-Country="{{ meeting.get_country() }}"
                 data-City="{{ meeting.city }}"
                 data-Language="{{ meeting.lang }}"
            >
                <div class="card-header" style="text-shadow: 2px 2px 2px #ffff00;">
                    {{ meeting.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="meetings-title">{{ meeting.short_name }}</p>

                        <div class="row meetings-detail">
                            <div class="col-sm-1">日期</div>
                            <div class="col-sm-11">{{ meeting.start_date }} - {{ meeting.end_date }}</div>
                            <div class="col-sm-1">地点</div>
                            <div class="col-sm-11">{{ meeting.full_location() }}</div>
                            <div class="col-sm-1">Location</div>
                            <div class="col-sm-11">{{ meeting.full_location_EN() }}</div>
                            <div class="col-sm-1">官网</div>
                            <div class="col-sm-11"><a href="{{ meeting.url }}" target="_blank">{{ meeting.url }}</a>
                            </div>
                            <div class="col-sm-1">最近更新</div>
                            <div class="col-sm-11">{{ meeting.register_time }}</div>
                        </div>
                    </blockquote>
                </div>
                <div class="card-footer text-muted meetings-more">
                    <a href="{{ url_for('meeting_detail',id=meeting.id) }}">更多详情</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}