{% extends 'base.html' %}
{% block title %}
    注册新会议
{% endblock %}
{% block content %}
    <div class="card meetings-card">
        <div class="card-body meeting-intro" >

        {% import "bootstrap/wtf.html" as wtf %}
            {{ wtf.quick_form(form,form_type='horizontal') }}
            <button class="btn-primary" id="switchLanguage" lang="CN">提交之前，您可以添加其他语言（点击切换）</button>
        </div>
    </div>
    <script>
        //转化为中文输入
        function toCN(){
            $("#title").attr("required",true).parent().parent().show();
            $("#location").attr("required",true).parent().parent().show();
            $("#theme").parent().parent().show();

            $("#title_EN").attr("required",false).parent().parent().hide();
            $("#location_EN").attr("required",false).parent().parent().hide();
            $("#theme_EN").parent().parent().hide();
        }
        //转化为英文输入
        function toEN(){
            $("#title").attr("required",false).parent().parent().hide();
            $("#location").attr("required",false).parent().parent().hide();
            $("#theme").parent().parent().hide();
;
            $("#title_EN").attr("required",true).parent().parent().show();
            $("#location_EN").attr("required",true).parent().parent().show();
            $("#theme_EN").parent().parent().show();
        }

        $(function () {
            //加载文档执行toCN，即默认显示中文
            toCN();

            //切换语言按钮
            $("#switchLanguage").click(function () {
                if($(this).attr("lang")=="CN") {
                    toEN();
                    $(this).attr("lang","EN");
                }else {
                    toCN();
                    $(this).attr("lang","CN");
                }
            });
        });
    </script>
{% endblock %}