{% extends 'base.html' %}
{% block title %}
提交会议信息（Submit New Meeting）
{% endblock %}
{% block content %}

<div class="card meetings-card">
    <div class="card-body ">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                {% import "bootstrap/wtf.html" as wtf %}
                <form action="" method="post" class="form" role="form" onsubmit="return validateForm()"
                    id="registerForm">
                    <!-- 引入datepicker -->
                    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
                    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
                        rel="stylesheet">
                    <link rel="stylesheet" href={{ url_for('static',filename="u/css/teleport-autocomplete.css")}}>
                    <script
                        src="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

                    {{ form.hidden_tag() }}
                    <div class="meeting-input-group">
                        <div class="meeting-input-group-title">
                            <p>{{ _('会议名称（中英文至少填一项）')}}</p>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="title">{{_('会议名称（中文）')}}</label>

                            {{form.title(class='form-control')}}

                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="title_EN">{{_('会议名称（英文）')}}</label>

                            {{form.title_EN(class='form-control')}}

                        </div>

                    </div>
                    <div class="meeting-input-group">
                        <div class="meeting-input-group-title">
                            <p>{{ _('会议地点') }}
                                
                            </p>
                        </div>
                        <input type="text" id="cityAutoComplete" autocomplete="off"
                            value="{{ form.selector_title.data or '' }}">
                        <script src={{ url_for('static',filename='u/js/teleport-autocomplete.js') }}></script>
                        <script>
                            //定义回调
                            TeleportAutocomplete.init('#cityAutoComplete').on('change', function (value) {
                                document.forms["registerForm"].cityId.value = value.geonameId;
                                document.forms["registerForm"].city.value = value.name;
                                document.forms["registerForm"].country.value = value.country;
                                document.forms["registerForm"].selector_title.value = value.title;

                            });
                            $("#undetermind").click(function () {

                                document.forms["registerForm"].cityId.value = -1;
                                document.forms["registerForm"].city.value = 'undetermind';
                                document.forms["registerForm"].country.value = 'undetermind';
                                document.forms["registerForm"].selector_title.value = 'undetermind';
                                document.forms["registerForm"].cityAutoComplete.value = "{{_('待定')}}";
                            }
                            );
                            $('#cityAutoComplete').addClass("form-control");
                        </script>
                    </div>
                    <div class="meeting-input-group">
                        <div class="meeting-input-group-title">
                            <p>{{ _('会议时间（必填）') }}</p>
                        </div>
                        <div class="form-group  required"><label class="control-label"
                                for="start_date">{{_('会议开始时间')}}</label>

                            {{form.start_date(class='form-control')}}

                        </div>
                        <div class="form-group  required"><label class="control-label"
                                for="end_date">{{_('会议结束时间')}}</label>

                            {{form.end_date(class='form-control')}}

                        </div>

                    </div>
                    <div class="meeting-input-group">
                        <div class="meeting-input-group-title">
                            <p>{{ _('会议语言（必填）') }}</p>
                        </div>
                        {{form.lang(class='form-control')}}
                    </div>

                    
                    <div class="meeting-input-group">
                        <div class="meeting-input-group-title">
                            <p>{{ _('其它会议信息（选填）') }}</p>
                        </div>
                        <div class="form-group "><label class="control-label" for="url">{{_('会议网址')}}</label>
                            {{form.url(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label" for="short_name">{{_('会议简称')}}</label>
                            {{form.short_name(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label" for="theme">{{_('会议主题（中文）')}}</label>
                            {{form.theme(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label" for="theme_EN">{{_('会议主题（英文）')}}</label>
                            {{form.theme_EN(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label" for="key_words">{{_('关键词（中文）')}}</label>
                            {{form.key_words(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label"
                                for="key_words_EN">{{_('关键词（英文）')}}</label>
                            {{form.key_words_EN(class='form-control')}}
                        </div>

                    </div>


                    <div class="meeting-input-group">
                        <div class="meeting-input-group-title">
                            <p>{{ _('联系人信息') }}</p>
                        </div>
                        <div class="form-group "><label class="control-label" for="contact">{{_('联系人姓名')}}</label>

                            {{form.contact(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label" for="email">Email</label>

                            {{form.email(class='form-control')}}
                        </div>
                        <div class="form-group "><label class="control-label" for="phone">{{_('电话')}}</label>
                            {{form.phone(class='form-control')}}
                        </div>

                        
                    </div>
                    <div style="text-align: center;">
                        {{ wtf.form_field(form.submit,class="btn btn-primary max-auto") }}
                    </div>
                    <!--修改日期样式-->
                    <script type="text/javascript">
                        $(function () {
                            $("#start_date,#end_date").attr("autocomplete", "off")
                                .datepicker({
                                    language: "zh-CN",
                                    clearBtn: true,//清除
                                    autoclose: true,
                                    todayHighlight: true,
                                    format: 'yyyy-mm-dd',
                                    todayBtn: true,//今日按钮

                                })
                        });
                    </script>
                </form>
            </div>
            <div class="col-1"></div>
        </div>

    </div>
    <script>

        function validateForm() {
            var form = document.forms["registerForm"];

            //中文和英文标题至少填一项
            if (form["title"].value == "" && form["title_EN"].value == "") {
                alert("中文和英文标题至少填写一项");
                $("#title").attr("placeHolder", "与下一条English Title二选一，至少一条");
                $("#title_EN").attr("placeHolder", "Fill in at least one item with the previous one 会议名称");
                return false;
            }
            //检查地点
            if (form["city"].value == ""
                || form["cityId"].value == ""
                || form["country"].value == ""
                || form["selector_title"].value == "") {
                alert("请输入地点（输入后请在下拉框中选择）");
                return false;
            }

            //验证日期
            var today = new Date();
            var start_date = new Date(form["start_date"].value);
            var end_date = new Date(form["end_date"].value);
            if (start_date < today) {
                alert("开始时间已过，请检查日期是否正确");
                return false;
            }
            if (start_date > end_date) {
                alert("开始时间在结束时间之后，请检查日期是否正确");
                return false;
            }


        }

        $(function () {
            $(".control-label").removeClass("col-lg-2");


        });
    </script>
    {% endblock %}