{% extends 'base.html' %}
{% block title %}
    注册新会议
{% endblock %}
{% block content %}

    <style>
        .required:before {
            content: '* ';
            color: red;
        }
    </style>
    <div class="card meetings-card">
        <div class="card-body meeting-intro">

            {% import "bootstrap/wtf.html" as wtf %}
            {{ wtf.quick_form(form,form_type='horizontal',id='registerForm') }}
        </div>
    </div>
    <script>
        //转化为中文输入
        function toCN() {
            $("#title").attr("required", true).parent().parent().show();
            $("#location").attr("required", true).parent().parent().show();
            $("#theme").parent().parent().show();

            $("#title_EN").attr("required", false).parent().parent().hide();
            $("#location_EN").attr("required", false).parent().parent().hide();
            $("#theme_EN").parent().parent().hide();
        }

        //转化为英文输入
        function toEN() {
            $("#title").attr("required", false).parent().parent().hide();
            $("#location").attr("required", false).parent().parent().hide();
            $("#theme").parent().parent().hide();
            ;
            $("#title_EN").attr("required", true).parent().parent().show();
            $("#location_EN").attr("required", true).parent().parent().show();
            $("#theme_EN").parent().parent().show();
        }

        function validateForm() {
            var form = document.forms["registerForm"];

            //中文和英文标题至少填一项
            if (form["title"].value == "" && form["title_EN"].value == "") {
                alert("中文和英文标题至少填写一项");
                return false;
            }
            //中英文地址至少填一项
            var location = form["location"].value;
            var location_EN = form["location_EN"].value;
            if (location == "" && location_EN == "") {
                alert("中英文地址至少填写一项")
                return false
            }
            //地址格式正则检测
            var patt = /.+-.+-.+/;
            if (location != "" && !patt.test(location)) {
                alert("请按指定格式输入地址");
                return false
            }
            if (location_EN != "" && !patt.test(location_EN)) {
                alert("请按指定格式输入英文地址");
                return false
            }


        }

        $(function () {
            $("form#registerForm").attr("onsubmit", "return validateForm()");
            $(".control-label").removeClass("col-lg-2");
            $("#title").attr("placeHolder","与下一条English Title二选一，至少一条");
            $("#title_EN").attr("placeHolder","Fill in at least one item with the previous one 会议名称");
            $("#location").attr("placeHolder","与下一条location二选一，至少一条");
            $("#location_EN").attr("placeHolder","Fill in at least one item with the previous one 会议地点")


        });
    </script>
{% endblock %}