{% extends 'base.html' %}
{% block title %}
查找会议
{% endblock %}
{% block content %}
<div class="card meetings-card">
    <div class="card-body meeting-intro">
        <form action="/meetings" method="get">
            <p align="center">
                id :<input name="id" type="number"/>
                <input type="submit" value="id精确查找">
            </p>
        </form>

        <form action="/meetings">
            <p align="center">
                关键词：<input name="keywords" type="text"/>
                <input type="submit" value="关键词模糊查找"/>
            </p>
        </form>

    </div>
</div>

{% endblock %}