{% extends 'base.html' %}
{% block title %}
    会议检索
{% endblock %}
{% block content %}
    <div class="card meetings-card">
        <div class="card-body ">
            <form action="" method="post" class="form" role="form">

                {{ form.hidden_tag() }}

                <div class="form-group ">
                    {{ form.start_date.label(class="control-label meeting-input-label") }}
                    {{ form.start_date(class="form-control meeting-input") }}
                </div>
                <div class="form-group ">
                    {{ form.end_date.label(class="control-label meeting-input-label") }}
                    {{ form.end_date(class="form-control meeting-input") }}
                </div>
                <div class="form-group ">
                    {{ form.lang.label(class="control-label meeting-input-label") }}
                    {{ form.lang(class="form-control meeting-input") }}
                </div>
                <div class="form-group ">
                    {{ form.key_words.label(class="control-label meeting-input-label") }}
                    {{ form.key_words(class="form-control meeting-input") }}
                </div>

                <div style="text-align: center;">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
