{% extends 'base.html' %}

{% block title %}
{{_('会议检索')}}
{% endblock %}
{% block content %}
    <div class="card meetings-card">
        <div class="card-body ">

            <form action="{{ url_for('meetings') }}" method="get" class="form" role="form">

                <div class="form-group ">
                    {{ form.key_words.label(class="control-label meeting-input-label") }}
                    {{ form.key_words(class="form-control meeting-input") }}
                </div>

                <div style="text-align: center;">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
